    <div class="container">

		<div class="row">
						
			<div class="col-md-8">
				<div class="page-header" id="ms">
					<h1>Models</h1>
					<p>
						LOBICO is used to find the logic combinations of binary input features (e.g. mutations, CNAs) 
						that best explain the response of cancer cell lines to anticancer drugs. 
						These logic models that are described in the disjunctive normal form (DNF), a
						standard notation in which every logic function can be expressed. The DNF is parameterized
						by two parameters: K, the number of disjuncts, and M, the number of terms per disjunct. LOBICO is applied with eight 
						different parameter settings, i.e. from simple single-predictor
						models (K=1, M=1) to more complex multi-predictor models ( K>1, M>1). Tables with logic symbols and the possible 8 models are given below.
						
							<table id="logicSymbolTable" class="table table-striped">
								<thead>
									<tr>
										<th>Logic Symbol Name</th>
										<th>Logic Symbol</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>AND</td>
										<td>&amp;</td>
									</tr>
									<tr>
										<td>OR</td>	
										<td>|</td>
									</tr>
									<tr>
										<td>NOT</td>	
										<td>¬</td>
									</tr>
								</tbody>	
							</table>	
						
							<table id="modelTable" class="table table-striped">
			    				<thead>
			    	    			<tr>
		    		    				<th>Model complexity</th>
		    		    				<th>Drug name</th>
		    	    					<th>Drug target</th>
		    	    					<th>Optimal logic model</th>
		    	    				</tr>
		    	    			</thead>
		    	    			<tbody>
		    						<tr>
			   							<td>K=1,M=1 (Single predictor)</td>	    	    							
										<td>PLX4720</td>	
		       							<td>RAF</td>    					
	    								<td>BRAF</td> 
		       						</tr>
		    						<tr>
			   							<td>K=1,M=2 (2-input AND)</td>	    	    							
										<td>Paclitaxel</td>	
		       							<td>Microtubules</td>    					
	    								<td>CDKN2A &amp; TP53</td> 
		       						</tr>
		    						<tr>
			   							<td>K=1,M=3 (3-input AND)</td>	    	    							
										<td>Cytarabine</td>	
		       							<td>DNA synthesis</td>    					
	    								<td>CDKN2A &amp; ¬EGFR &amp; ¬SMAD4</td> 
		       						</tr>
		    						<tr>
			   							<td>K=1,M=4 (4-input AND)</td>	    	    							
										<td>KIN001-102</td>	
		       							<td>Akt1</td>    					
	    								<td>¬APC &amp; ¬BRAF &amp; ¬EGFR &amp; ¬KRAS</td> 
		       						</tr>
		    						<tr>
			   							<td>K=2,M=1 (2-input OR)</td>	    	    							
										<td>BEZ235</td>	
		       							<td>PI3K,MTORC</td>    					
	    								<td>PIK3CA | PTEN</td> 
		       						</tr>
		    						<tr>
			   							<td>K=3,M=1 (3-input OR)</td>	    	    							
										<td>AZD6244</td>	
		       							<td>MEK 1/2</td>    					
	    								<td>BRAF | KRAS | NRAS</td> 
		       						</tr>
		    						<tr>
			   							<td>K=4,M=1 (3-input OR)</td>	    	    							
										<td>Afatinib</td>	
		       							<td>EGFR, ERBB2</td>    					
	    								<td>EGFR | ERBB2 | JAK2 | SMAD4</td> 
		       						</tr>
		    						<tr>
			   							<td>K=2,M=2 (2-by-2)</td>	    	    							
										<td>JQ12</td>	
		       							<td>HDAC</td>    					
	    								<td>(CDKN2A &amp; ¬SMAD4) | (¬KRAS &amp; ¬TP53)</td> 
		       						</tr>
		    	    			</tbody>
		    	    		</table>	
					</p>	
					<a href="#">Back to top</a>
				</div>

				<div class="page-header" id="mp">
				  <h1>Plots<small></small></h1>
				  	<p>We describe here the details and specifications of the LOBICO plots.</p>
				</div>

				<div class="page-header" id="ic">
					
				    <h2>Input (cell lines) <small>histogram, tissue &amp; mutation heatmaps</small></h2>	
				  	<p>
			        	The input plot is split into 3 parts: i) the drug sensitivity histogram for all cell lines ii) the tissue type heatmap for the sensitive cell lines 
			        	iii) the input (e.g. mutations) heatmap for the sensitive cell lines.
				  	</p>	
					<div class="row">
					  <div class="col-sm-6 col-md-12">
					    <div class="thumbnail">
					      <img src="assets/helpHistogram.png" alt="celllines histogram">
					      <div class="caption">
					        <p>
					        	The drug sensitivity histogram shows how many cell lines (on the x axis) have a given sensitivity (natural log of the IC50 on the y axis) 
					        	for that particular drug. The legend indicates the number of sensitive and resistant cell lines after the binarization of the IC50. 
					        	Hovering over a specific bar of the histogram, you can see the associated values (resistant or sensitive, the number of cell lines and the log IC50 value).		    
					        </p>
   					        <a href="#">Back to top</a>
					      </div>
					    </div>
					  </div>
					</div>
					
					<div class="row">
					  <div class="col-sm-6 col-md-12">
					    <div class="thumbnail">
					      <img src="assets/helpTissueHeatmap.png" alt="celllines tissue type heatmaps">
					      <div class="caption">
					        <p>
					        	For each of the sensitive cell lines, the (binary) tissue type heatmap indicates its tissue of origin (indicated by light red). 
					        	Hovering over the light red blocks makes an information bubble appear with the name and tissue type of the cell line.
					        </p>
					        <a href="#">Back to top</a>					        
					      </div>
					    </div>
					  </div>
					</div>
					
					<div class="row">  
					  <div class="col-sm-6 col-md-12">
					    <div class="thumbnail">
					      <img src="assets/helpTissueHeatmap2.png" alt="celllines mutation status heatmaps">
					      <div class="caption">
					        <p>
					        	Below the binary heatmap is a quantitative (green to red) heatmap indicating whether the cell lines from a given tissue type are 
					        	enriched within the group of sensitive cell lines, as measured by the log2 of the odds ratio (Fisher’s exact test). 
					        	Red indicates a strong enrichment, while green indicates a strong depletion. If you hover over the bars, then you can see how 
					        	many sensitive and resistant cell lines are from this tissue type in the total cell lines set along with the associated percentages.			
					        </p>
					        <a href="#">Back to top</a>					        
					      </div>
					    </div>
					  </div>
					</div>

					<div class="row">
					  <div class="col-sm-6 col-md-12">
					    <div class="thumbnail">
					      <img src="assets/helpMutationHeatmap.png" alt="celllines tissue type odds ratio heatmaps">
					      <div class="caption">
					        <p>
								For all sensitive cell lines, the (binary) input heatmap indicates whether a given cell line is associated with that input feature 
								i.e. harbor that genetic alteration (dark red) or not (white). Hovering over the light red blocks gives you the names of the cell line and the input feature.
					        </p>
					        <a href="#">Back to top</a>
					      </div>
					    </div>
					  </div>
					</div>
					
					<div class="row">  
					  <div class="col-sm-6 col-md-12">
					    <div class="thumbnail">
					      <img src="assets/helpMutationHeatmap2.png" alt="celllines mutation status odds ratio heatmaps">
					      <div class="caption">
					        <p>
								Below the binary heatmap is a quantitative (green to red) heatmap indicating whether the cell lines associated with a specific input feature 
								(e.g. harboring a mutation in a given gene) are enriched within the group of sensitive cell lines, as measured by the log2 of the odds ratio 
								(Fisher’s exact test). Red indicates a strong enrichment, while green indicates a strong depletion. If you hover over the bars, 
								then you can see how many sensitive and resistant cell lines are associated with that feature in the total cell lines set along with the associated percentages.
					        </p>
					        <a href="#">Back to top</a>
					      </div>
					    </div>
					  </div>
					</div>

					
				</div>

				<div class="page-header" id="m">
					
  				  <h2>Models<small> &nbsp; model overall and highlight plots</small></h2>
					<div class="row">
					  <div class="col-sm-6 col-md-12">
					    <div class="thumbnail">
					      <img src="assets/helpModelOverall.png" alt="model overall bar plots">
					      <div class="caption">
					        <p>
					        	This modified trellis bar plot depicts all models (x axis; best model colored in green) and performance stats (y axis). The upper row shows counts 
					        	of the confusion matrix (shades of green with true positives &amp; negatives and shades of red for the false  positives &amp; negatives). The lower row 
					        	shows the specificity (true negative rate TN/FP+TN), precision (positive predictive value TP/TP+FP), recall (sensitivity or true positive rate TP/TP+FN) and cross 
					        	validation error. Hovering over all the bars indicates the model names and values. If you click on any of the bar, then the associated model is 
					        	highlighted on the right hand frame.
					        </p>
					        <a href="#">Back to top</a>
					      </div>
					    </div>
					  </div>
					</div>

					<div class="row">
					  <div class="col-sm-6 col-md-12">
					    <div class="thumbnail">
					      <img src="assets/helpModelHighlight.png" alt="model highlight plots">
					      <div class="caption">
					        <p>
								The model highlight plot has 3 sections: 1. circuit diagram of the model 2. confusion matrix counts and model performance stats 
								3. boxplot of the prediction group (resistant & sensitive cell lines) for the drug sensitivity (natural log of IC50).
					        </p>
					        <a href="#">Back to top</a>
					      </div>
					    </div>
					  </div>
					</div>

					<div class="row">
					  <div class="col-sm-6 col-md-12">
					    <div class="thumbnail">
					      <img src="assets/helpModelHighlightBoxplot.png" alt="model highlight boxplot">
					      <div class="caption">
					        <p>
								The boxplot shows the natural log IC50 values (y axis) of predicted group (resistant and sensitive) for the input cell lines (x axis). 
								The black dotted line indicates the cutoff value after the binarization of IC50 values. Clicking on the box explodes into a scatter plot and 
								double click reverses back to original plot. Hovering over the scatter plot points shows the cell line name and log value of IC50.
					        </p>
					        <a href="#">Back to top</a>
					      </div>
					    </div>
					  </div>
					</div>

				</div>
				
				<div class="page-header" id="mb">
					
  				  <h2>Model Boxplots<small> &nbsp; model overall boxplots</small></h2>
					<div class="row">
					  <div class="col-sm-6 col-md-12">
					    <div class="thumbnail">
					      <img src="assets/helpModelBoxplots.png" alt="model boxplots">
					      <div class="caption">
					        <p>
								This section depicts all boxplots with natural log IC50 values (y axis) of predicted group (resistant and sensitive) for the input cell lines (x axis)
								 for all models. The model names are shown on the top of the boxplot (best model with green color).  The black dotted line indicates the cutoff value 
								 after the binarization of IC50 values. Clicking on the box explodes into a scatter plot and double click reverses back to original plot. Hovering over the 
								 scatter plot points shows the cell line name and log value of IC50.
					        </p>
					        <a href="#">Back to top</a>
					      </div>
					    </div>
					  </div>
					</div>
				
				</div>


				<div class="page-header" id="ds">
					<h1>Datasets</h1>
				</div>
				
				<div class="page-header" id="gdsc">
					<h2>GDSC Dataset</h2>
					<p>
						We describe here the details and specifications of the <a href="http://www.cancerrxgene.org/gdsc1000/GDSC1000_WebResources/Home.html" target="_blank">GDSC dataset</a>.
					</p>
				</div>
				
				<div class="page-header" id="gdscic">
					
				    <h3>Input Samples <small>tissue, cancer types &amp; input features</small></h3>	
				  	<p>
						The input samples used for generating the logic models using LOBICO algorithm are cell lines from the GDSC dataset 
						(GDSC complete dataset contains primary tumors and cell lines). 
						These cell lines are originated from 21 tissue types. An overview of the tissue types and cancer types (TCGA labels) are given 
						<a href="http://www.cancerrxgene.org/gdsc1000/GDSC1000_WebResources/Data_Summary.html" target="_blank">here</a>.
						<!--
						<div class="table-responsive">
							<table class="table table-hover table-bordered">
								<thead>
									<tr><th>GDSC Tissue Descriptor 1</th><th>GDSC Tissue Descriptor 2</th><th>Cancer Type (TCGA Label)</th></tr>								
								</thead>
								<tbody>
									<tr><td>urogenital_system</td><td>Bladder</td><td>BLCA</td></tr>
									<tr><td>breast</td><td>breast</td><td>BRCA</td></tr>
									<tr><td>large_intestine</td><td>large_intestine</td><td>COAD/READ</td></tr>
									<tr><td>lymphoma</td><td>B_cell_lymphoma</td><td>DLBC</td></tr>
									<tr><td>aero_dig_tract</td><td>oesophagus</td><td>ESCA</td></tr>
									<tr><td>nervous_system</td><td>glioma</td><td>GBM</td></tr>
									<tr><td>aero_dig_tract</td><td>head and neck</td><td>HNSC</td></tr>																		

									<tr><td>kidney</td><td>kidney</td><td>KIRC</td></tr>
									<tr><td>leukemia</td><td>acute_myeloid_leukaemia, leukemia</td><td>LAML</td></tr>
									<tr><td>nervous_system</td><td>glioma</td><td>LGG</td></tr>
									<tr><td>digestive_system</td><td>liver</td><td>LIHC</td></tr>
									<tr><td>lung_NSCLC</td><td>lung_NSCLC_adenocarcinoma</td><td>LUAD</td></tr>
									<tr><td>lung_NSCLC</td><td>lung_NSCLC_squamous_cell_carcinoma</td><td>LUSC</td></tr>
									<tr><td>urogenital_system</td><td>ovary</td><td>OV</td></tr>																		

									<tr><td>pancreas</td><td>pancreas</td><td>PAAD</td></tr>
									<tr><td>skin</td><td>melanoma</td><td>SKCM</td></tr>
									<tr><td>digestive_system</td><td>stomach</td><td>STAD</td></tr>
									<tr><td>thyroid</td><td>thyroid</td><td>THCA</td></tr>
									<tr><td>bone,soft_tissue, *</td><td>*</td><td>PANCAN</td></tr>
								</tbody>
							</table>
						</div>
						-->
						<p>
							You can download the complete sample landscape for the GDSC dataset <a href="http://www.cancerrxgene.org/gdsc1000/GDSC1000_WebResources//Data/suppData/TableS1E.xlsx">here</a>.							
						</p>
						<!--
						<ul>
						    <li>aero_digestive_tract</li>	
						    <li>aero_dig_tract</li>
							<li>blood</li>
							<li>bone</li>
							<li>breast</li>
							<li>digestive_system</li>
							<li>kidney</li>
							<li>large_intestine</li>
							<li>leukemia</li>
							<li>lung</li>
							<li>lung_NSCLC</li>
							<li>lung_SCLC</li>
							<li>lymphoma</li>
							<li>myeloma</li>
							<li>nervous_system</li>
							<li>neuroblastoma</li>
							<li>pancreas</li>
							<li>skin</li>
							<li>soft_tissue</li>
							<li>thyroid</li>
							<li>urogenital_system</li>
						</ul>    
						-->
						<p>
							The main input features for the cell lines in this dataset:							
							<ul>
						   		<li><span title="download the full list of CGs"><a href="http://www.cancerrxgene.org/gdsc1000/GDSC1000_WebResources//Data/suppData/TableS2A.xlsx" target="_blank">Cancer Genes (CGs) </a></span>
						   			 with point mutations, small insertions or deletions (e.g. SMAD4, ATM)</li>
						    	<li><span title="download the full list of RACSs"><a href="http://www.cancerrxgene.org/gdsc1000/GDSC1000_WebResources//Data/suppData/TableS2D.xlsx" target="_blank">Recurrently aberrant copy number segments (RACSs)</a></span> 
						    		of a cancer gene or genes, locus / chromosome locations. 
						    		Amplifications are represented as a(g1,g2,..) (e.g. a(CCND1,CTTN)) and deletions as d(g1,g2) (e.g. d(FAT1), d18q22.1).</li>
						    	<li>Activation signature of signaling pathways containing well-known mutational activations, copy number alterations and other signaling aberrations. (e.g. TNFa-UP, TGFB-DOWN).
						    		Click <a href="http://www.cancerrxgene.org/gdsc1000/GDSC1000_WebResources//Data/suppData/TableS5A.xlsx" target="_blank">here</a> to download the pathway activity scores across cell lines.</li>
						    </ul>
						</p>
						<!--
						There are main 4 types of input features for the cell lines in this dataset:
						<ul>
						    <li>Genes (e.g. SMAD4, ATM)</li>
						    <li>Amplification or deletion of gene or a set of genes represented as a(g1), d(g1,g2). (e.g. a(CCND1,CTTN), d(FAT1))</li>
						    <li>Locus or chromosome locations (e.g. d18q22.1)</li>
						    <li>Pathway (e.g. TNFa-UP, TGFB-DOWN)</li>
						</ul>
						-->    
				  	</p>	
					<a href="#">Back to top</a>
				</div>	

				<div class="page-header" id="gdsco">
					<h3>Output <small>models to explain drug response</small></h3>
					<p>
						LOBICO generates logic models to explain drug response based on binarized mutation data of cancer samples.
						A gene was called mutated when it had a point
						mutation, a small insertion or deletion as determined by capillary sequencing, or when it
						was highly amplified or homozygously deleted based on copy number arrays. 
						LOBICO was executed for each drug separately utilizing pan-cancer and cancer-specific molecular datasets.
						This led to the inference of 1,080 logic models.
						In the GDSC dataset, a total of 265 drug compounds are screened. A summary of the complete screened compounds can be downloaded 
						from <a href="http://www.cancerrxgene.org/gdsc1000/GDSC1000_WebResources//Data/suppData/TableS1F.xlsx">here</a>.
					</p>
					<a href="#">Back to top</a>
				</div>
				
			</div>
			
			<div class="col-md-4">
				<div data-spy="affix" data-offset-left="15">
					<h1>Contents</h1>
					<ul>
						<li>
							<a href="#ms">Models</a>
							<!--
							<ul>
								<li><a href="#mssection">Models</a></li>
							</ul>
							-->
						</li>	
						<li>
							<a href="#mp">Plots</a>
							<ul>
								<li><a href="#ic">Input (cell lines): histogram, tissue &amp; mutation heatmaps</a></li>
								<li><a href="#m">Models Overall &amp; Highlight Plots</a></li>
								<li><a href="#mb">Model BoxPlots</a></li>
							</ul>
						</li>
						<li>
							<a href="#ds">Datasets</a>
							<ul>
								<li><a href="#gdsc">GDSC Dataset</a></li>
								<ul>
									<li><a href="#gdscic">Input Samples: tissue, cancer types &amp; input features</a></li>
									<li><a href="#gdsco">Output: models to explain drug response</a></li>
								</ul>
							</ul>
						</li>
					</ul>
				</div>	
			</div>	

				
		</div>
	
	</div>
	
<script type="text/javascript">
	$(document).ready(function(){
		$('#modelTable').DataTable({
			paging: false,
			searching: false
		});
		$('#logicSymbolTable').DataTable({
			paging: false,
			searching: false
		});
	});
</script>