    <div class="container-fluid">


      <!-- Jumbotron-->
      <div class="jumbotron">
        <h1>LOBICO</h1>
        <p class="lead">
        	LOBICO (Logic Optimization
			for Binary Input to Continuous Output) is a computational approach that infers small
			and easily interpretable logic models of binary input features that explain a binarized
			continuous output variable. Although the continuous output variable is binarized prior to
			optimization, the continuous information is retained to find the optimal logic model.
			LOBICO is formulated as an integer programming problem, which enables rapid
			computation on large datasets. Moreover, LOBICO implements the ability to uncover logic
			models around predefined operating points in terms of sensitivity and specificity.
        </p>	
       	<p><a class="btn btn-lg btn-success" href="browseByModels" role="button">Browse Best Models</a></p>
      </div>

	</div>
	
