/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap.min
 *= require datatables.min
 *= require_tree .
 */

.models {
	border-style: solid;
    border-color: #D8D8D8;
    background-color: #FAFAFA;
    border-radius: 5px;
}

.bestmodel {
	border-style: solid;
    border-color: #D8D8D8;
    background-color: #E3F6CE;
    border-radius: 5px;
}


.box {
  font: 10px verdana;
}

.box line,
.box rect,
.box circle {
  fill: #81BEF7;
  stroke: #000;
  stroke-width: 1.5px;
}

.box .center {
  stroke-dasharray: 3,3;
}

.box .outlier {
  fill: none;
  stroke: #FA5858;
}

